# yaml-language-server: $schema=../../../node_modules/envio/evm.schema.json
name: oToken
output: './generated'
contracts:
  - name: OToken
    handler: ./EventHandlers.ts
    events:
      - event: Transfer(address indexed from, address indexed to, uint256 value)
      - event: Rebase(uint256 indexed epoch, uint256 totalSupply, uint256 rebasingSupply, uint256 nonRebasingSupply)
  - name: OTokenVault
    handler: ./EventHandlers.ts
    events:
      - event: WithdrawalRequested(address indexed withdrawer, uint256 indexed requestId, uint256 amount, uint256 queued)
      - event: WithdrawalClaimed(address indexed withdrawer, uint256 indexed requestId, uint256 amount)

field_selection:
  transaction_fields:
    - from
    - hash
    - to
    - input

networks:
  - id: 1
    start_block: 11590995
    contracts:
      - name: OToken
        address:
          - 0x856c4efb76c1d1ae02e20ceb03a2a6a08b0b8dc3 # OETH
          - 0x2a8e1e676ec238d8a992307b495b45b3feaa5e86 # OUSD
      - name: OTokenVault
        address: 0x39254033945aa2e4809cc2977e7087bee48bd7ab # OETH Vault
        start_block: 20428558

  - id: 8453
    start_block: 17819702
    contracts:
      - name: OToken
        address: 0xdbfefd2e8460a6ee4955a68582f85708baea60a3 # superOETHb
      - name: OTokenVault
        address: 0x98a0cbef61bd2d21435f433be4cd42b56b38cc93 # superOETHb Vault
        start_block: 21544908

  - id: 146
    start_block: 37447070
    contracts:
      - name: OToken
        address: 0xb1e25689d55734fd3fffc939c4c3eb52dff8a794 # OS
      - name: OTokenVault
        address: 0xa3c0eca00d2b76b4d1f170b0ab3fdea16c180186 # OS Vault

  - id: 98866
    start_block: 535166
    contracts:
      - name: OToken
        address: 0xfcbe50dbe43bf7e5c88c6f6fb9ef432d4165406e # superOETHp
      - name: OTokenVault
        address: 0xc8c8f8bea5631a8af26440af32a55002138cb76a # superOETHp Vault
        start_block: 878332

unordered_multichain_mode: true
preload_handlers: true
