# yaml-language-server: $schema=../../../node_modules/envio/evm.schema.json
name: oToken

contracts:
  - name: OToken
    handler: ./EventHandlers.ts
    events:
      - event: Transfer(address indexed from, address indexed to, uint256 value)
        field_selection:
          transaction_fields:
            - hash
      - event: Rebase(uint256 indexed epoch, uint256 totalSupply, uint256 rebasingSupply, uint256 nonRebasingSupply)
        field_selection:
          transaction_fields:
            - hash

networks:
  - id: 1  # Mainnet
    start_block: 11590995  # OUSD Reset (earliest OToken)
    contracts:
      - name: OToken
        address:
          - 0x856c4efb76c1d1ae02e20ceb03a2a6a08b0b8dc3  # OETH
          - 0x2a8e1e676ec238d8a992307b495b45b3feaa5e86  # OUSD
  
  - id: 8453  # Base
    start_block: 12000000
    contracts:
      - name: OToken
        address:
          - 0xdbfefd2e8460a6ee4955a68582f85708baea60a3  # superOETHb
  
  - id: 146  # Sonic
    start_block: 12000000
    contracts:
      - name: OToken
        address:
          - 0xb1e25689d55734fd3fffc939c4c3eb52dff8a794  # OS

unordered_multichain_mode: true
preload_handlers: true

